[run]
source = scico
command_line = -m pytest
omit =
    scico/test/*
    scico/plot.py
    scico/trace.py
    scico/linop/xray/_axitom/*.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    def __repr__
