include MANIFEST.in
include setup.py
include README.rst
include LICENSE
include CHANGES.rst
include requirements.txt
include dev_requirements.txt
include examples/scriptcheck.sh
include docs/docs_requirements.txt

recursive-include scico *.py
recursive-include scico/data *.png *.npz
recursive-include docs Makefile *.py *.ipynb *.rst *.bib *.css *.svg *.ico
recursive-include examples *_requirements.txt *.txt *.rst *.py
