/* furo theme customization */

body[data-theme="dark"] figure img {
  filter: invert(100%);
}

.sidebar-drawer {
  width: fit-content !important;
}

.main > .content {
  min-width: 75%;
  width: fit-content !important;
  max-width: 80em;
}

.highlight {
  background: #f0ffe8;
}

.sidebar-brand-text {
  font-size: 1.0rem !important;
  text-align: center;
  padding-top: 0.5em;
}


/* Code display section */

div.doctest.highlight-default {
  background-color: #f9f9f4;
}


/* Style for autosummary API docs */

[data-theme=light] dl.field-list.simple {
  background-color: #f5f5f5;
  border-radius: 4px;
}

[data-theme=light] dl.field-list.simple > dt.field-odd {
  background-color: #f2f2f2;
  border-radius: 4px;
}

[data-theme=light] dl.field-list.simple > dt.field-even {
  background-color: #f2f2f2;
  border-radius: 4px;
}

[data-theme=light] dl.py.data {
  background-color: #fdfafa;
  border-radius: 4px;
}

[data-theme=light] dl.py.data > dt {
  border-radius: 4px;
}

[data-theme=light] dl.py.attribute {
  background-color: #fdfafa;
  border-radius: 4px;
}

[data-theme=light] dl.py.attribute > dt {
  border-radius: 4px;
}

[data-theme=light] dl.py.function {
  background-color: #fdfafa;
  border-radius: 4px;
}

[data-theme=light] dl.py.function > dt {
  border-radius: 4px;
}

[data-theme=light] dl.py.function blockquote {
  background-color: #f5f5f5;
  border-left: 0px;
}

[data-theme=light] dl.py.class {
  background-color: #fdfafa;
  border-radius: 4px;
}

[data-theme=light] dl.py.class > dt {
  border-radius: 4px;
}

[data-theme=light] dl.py.method {
  background-color: #f6f6f6;
  border-radius: 4px;
}

[data-theme=light] dl.py.method > dt {
  border-radius: 4px;
}

[data-theme=light] dl.py.property {
  background-color: #f6f6f6;
  border-radius: 4px;
}

[data-theme=light] dl.py.property > dt {
  border-radius: 4px;
}


/* Style for figure captions */

div.figure p.caption span.caption-text,
figcaption span.caption-text {
  font-size: var(--font-size--small);
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  text-align: justify;
}
