# Check file types and sizes

name: check files

on: [push, pull_request]

jobs:
  checkfiles:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - id: files
      uses: Ana06/get-changed-files@v2.2.0
      continue-on-error: true
    - run: |
       for f in ${{ steps.files.outputs.added }}; do
           if [ "$f" != ".test_durations"; then
               ${GITHUB_WORKSPACE}/.github/./isbin.sh $f
           fi
       done
