# Check file types and sizes

name: check files

# Controls when the action will run.
on: [push, pull_request]

#
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  checkfiles:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - id: files
      uses: Ana06/get-changed-files@v1.2
      continue-on-error: true
    - run: |
       for f in ${{ steps.files.outputs.added }}; do
           if [ "$f" != ".test_durations"; then
               ${GITHUB_WORKSPACE}/.github/./isbin.sh $f
           fi
       done
