# Run isort and black on pushes to main and any pull requests

name: lint

# Controls when the action will run.
on:
    push:
        branches:
          - main
    pull_request:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Temporary fix for black
        run: |
          python -m pip install --upgrade pip
          pip install black==21.6b0
          pip install click==8.0.4

      - name: Black code formatter
        uses: psf/black@stable
        with:
          version: "21.6b0"

      - name: Isort import sorter
        uses: isort/isort-action@v0.1.0
