# Install scico requirements and run pytest

name: unit tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  pytest:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/cache@v2
        with:
          key: ${{ env.pythonLocation }}-${{ hashFiles('setup.py') }}-${{ hashFiles('requirements.txt') }}
          path: ${{ env.pythonLocation }}
      - name: Install dependencies
        run: |
          echo $CONDA/bin >> $GITHUB_PATH
          conda install python=3.8
          python -m pip install --upgrade pip
          sudo apt-get install -y libopenblas-dev
          conda install -c conda-forge pytest-cov
          pip install -r requirements.txt
          pip install -r dev_requirements.txt
          conda install -c astra-toolbox astra-toolbox
          conda install -c conda-forge pyyaml
          pip install "ray[tune]"
          pip install hyperopt
          pip install -e .
      - name: Run tests with pytest
        run: |
          pytest --cov=scico --cov-report=xml
          pytest --ignore-glob="*test_*.py" --doctest-modules scico
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          env_vars: OS,PYTHON
          fail_ci_if_error: false
          files: coverage.xml
          flags: unittests
          name: codecov-umbrella
          verbose: true
