# Install scico requirements and run pytest

name: unit tests (macos)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:

  test:
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        group: [1, 2, 3, 4, 5]
    name: pytest split ${{ matrix.group }} (macos)
    defaults:
      run:
        shell: bash -l {0}
    steps:
      # Check-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      # Set up conda/mamba environment
      - name: Set up mambaforge
        uses: conda-incubator/setup-miniconda@v3
        with:
            miniforge-variant: Mambaforge
            miniforge-version: latest
            activate-environment: test-env
            use-mamba: true
            python-version: "3.12"
      # Configure conda environment cache
      - name: Set up conda environment cache
        uses: actions/cache@v3
        with:
          path: ${{ env.CONDA }}/envs
          key: conda-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('dev_requirements.txt') }}-${{ env.CACHE_NUMBER }}
        env:
          CACHE_NUMBER: 1  # Increase this value to force cache reset
        id: cache
      # Display environment details
      - name: Display environment details
        run: |
          conda info
          printenv | sort
      # Install dependencies in conda environment
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mamba install -c conda-forge pytest pytest-cov
          python -m pip install --upgrade pip
          pip install pytest-split
          pip install -r requirements.txt
          pip install -r dev_requirements.txt
          # Temporarily disabled due to svmbir failure with numpy 2.x under Python 3.12
          # mamba install -c conda-forge svmbir>=0.3.3
          mamba install -c astra-toolbox astra-toolbox
          mamba install -c conda-forge pyyaml
          pip install --upgrade --force-reinstall scipy>=1.6.0  # Temporary fix for GLIBCXX_3.4.30 not found in conda forge version
          pip install bm3d>=4.0.0
          pip install bm4d>=4.0.0
          pip install "ray[tune]>=2.5.0"
          pip install hyperopt
      # Install package to be tested
      - name: Install package to be tested
        run: pip install -e .
      # Run unit tests
      - name: Run main unit tests
        run: |
          DURATIONS_FILE=$(mktemp)
          bzcat data/pytest/durations_macos.bz2 > $DURATIONS_FILE
          pytest -x --level=1 --durations-path=$DURATIONS_FILE --splits=5 --group=${{ matrix.group }} --pyargs scico
