# Install scico requirements and run pytest

name: test examples

# Control when the workflow will run
on:
  # Trigger the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allow this workflow to be run manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            label: linux-64
            prefix: /usr/share/miniconda3/envs/test-env
    name: ${{ matrix.label }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Check-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      # Set up conda/mamba environment
      - name: Set up mambaforge
        uses: conda-incubator/setup-miniconda@v2
        with:
            miniforge-variant: Mambaforge
            miniforge-version: latest
            activate-environment: test-env
            use-mamba: true
            python-version: 3.9
      # Configure conda environment cache
      - name: Set up conda environment cache
        uses: actions/cache@v2
        with:
          path: ${{ env.CONDA }}/envs
          key: conda-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('dev_requirements.txt') }}-${{ env.CACHE_NUMBER }}
        env:
          CACHE_NUMBER: 0  # Increase this value to force cache reset
        id: cache
      # Display environment details
      - name: Display environment details
        run: |
          conda info
          printenv | sort
      # Install required system package
      - name: Install required system package
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libopenblas-dev
      # Install dependencies in conda environment
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mamba install -c conda-forge pytest pytest-cov
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r dev_requirements.txt
          mamba install -c astra-toolbox astra-toolbox
          mamba install -c conda-forge pyyaml
          pip install "ray[tune]"
          pip install hyperopt
      # Install package to be tested
      - name: Install package to be tested
        run: pip install -e .
      # Run example test
      - name: Run example test
        run: |
          ${GITHUB_WORKSPACE}/examples/scriptcheck.sh -d
